* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active,
a:hover {
  outline: none !important;
  -webkit-appearance: none;
  box-shadow: none !important;
}

/* Navbar */

nav ul li {
  margin-right: 20px;
}
nav img {
  width: 100px;
  height: 100%;
}

nav ul li a {
  font-size: 1.8rem;
}
nav .active a {
  color: blue !important;
}

/* section one */

.one h2 {
  color: #f2a463;
  text-align: center;
}

.one span {
  font-size: 1.3rem;
}

/* section two */

.two {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.3)),
    url("img/contest_image.jpg") center center/cover no-repeat;
  height: 70vh;
}

.two h2 {
  font-size: 3rem;
  margin-bottom: 40px;
  color: #fff;
}

.two p {
  font-size: 1.7rem;
  color: #fff;
}
/* three */
.three {
  background: url(img/world_travel.jpeg) center center/cover no-repeat;
  height: 50vh;
}
/* four */
.four h3 {
  color: tomato !important;
}

/* five */
.five h2 {
  color: tomato !important;
  margin-bottom: 20px;
}

.five span {
  background-color: orange;
  border-radius: 50%;
  padding: 1px 2px 2px 2px;
}

.five .right {
  border-left: 1px solid tomato;
}

/* six */
.six h2 {
  color: tomato !important;
}

/* footer */
footer {
  background-color: wheat;
}
footer ul li {
  background-color: wheat !important;
  border: none !important;
}

/* top destinations */
.venice {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(img/venice.jpg) center center/cover no-repeat;
}

.paris {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(img/paris.jpg) center center/cover no-repeat;
}
.rome {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(img/rome.jpg) center center/cover no-repeat;
}
input[type="file"] {
  display: none;
}
.custom-file-upload {
  padding: 6px 12px;
  cursor: pointer;
  width: fit-content;
}

.icon {
  cursor: pointer;
  font-size: 5rem;
  color: blue;
}

.content .col-md-4 {
  padding: 20px;
  flex: 0.28;
  border: 1px dotted orange;
  margin-right: 10px;
}
.media {
  justify-content: space-around;
}
.blog {
  background: url(img/Travel.jpg) center center/cover no-repeat;
  height: 40vh;
}

.booking {
  background: url(img/Travel-GettyImages.jpg) center center/cover no-repeat;
  height: 40vh;
}

@media (max-width: 768px) {
  .media {
    display: flex;
    flex-direction: column;
  }
}
